
<div class="ibox">

    <div class="ibox-head">
        <div class="ibox-title">Add Course Form</div>
        <div class="ibox-tools">
            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
            <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="ibox-body">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Class Name</label>
                    <select class="form-control" (change)="onChangeDeptName($event.target.value)" formControlName="departmentName">
                            <option>choose</option>
                            <option *ngFor="let departments of departments">{{departments.deptName}}</option>
                        </select>
                </div>

                <div class="col-sm-6 form-group">
                    <label>Sections</label>
                    <select class="form-control" formControlName="section" (change)="addMorePhase($event.target.value)">
                        <option>choose</option>
                        <option *ngFor="let sections of sections">{{sections.sections}}</option>
                    </select>
                </div>
                <div class="col-6 m-b-20">
                        <label class="ui-checkbox ui-checkbox-success">
                          <input type="checkbox" [checked]="yes" formControlName="isDefaultSubj">
                          <span class="input-span"></span>Is Default subject <p class="text-info">(Tel,Hin,Eng,Mat,Sci,Soc)</p></label>
                      </div>

                <div formGroupName="phaseExecutions">

                    <button type="button" (click)="addMorePhase()" class="btn btn-primary">
                        More Subject+</button>
                    <div formArrayName="PRE">

                        <div  *ngFor="let phase of phaseArray.controls; let i = index;"
                            [formGroupName]="i">
                        <div class="form-row"  >
                            <div class="form-group col-md-4" >
                                <input type="text" class="form-control" placeholder="subject Name" id="courseName1"
                                    formControlName="courseName1" />

                            </div>

                            <div class="form-group col-md-4">
                                <input class="form-control" id="comments1" placeholder="comments"
                                    formControlName="comments1" />
                            </div>
                            <button type="button" class="btn btn-outline-danger btn-sm"
                                (click)="removeInput(i)">Remove</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
